[Unit]
Description=PiAssistant Kiosk Display
After=piassistant.service
Wants=piassistant.service
Conflicts=getty@tty1.service
After=getty@tty1.service

[Service]
Type=simple
User=%i
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=tty
StandardError=journal
PAMName=login
Environment=WLR_LIBINPUT_NO_DEVICES=1
Environment=XDG_RUNTIME_DIR=/run/user/%U
ExecStart=/usr/bin/cage -s -- /usr/bin/chromium --kiosk --noerrdialogs --disable-infobars --no-first-run --enable-features=OverlayScrollbar --disable-translate http://localhost:8000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
